# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key
DB_USERNAME=
DB_PASSWORD=
DB_CLUSTER=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
