# Flask server configuration.
FLASK_APP=todo_app/app
FLASK_ENV=development

# Change the following values for local development.
SECRET_KEY=secret-key
DB_USERNAME=todoappuser
DB_PASSWORD=t0d0appus3r
DB_CLUSTER=cluster0.ncc4k.mongodb.net
