{% macro status_table(status_items, statuses)%}
    {% if status_items|length >0 %}
      
        <table class="table table-sm table-hover">
          <thead class="thead-dark"> 
            <tr>
              
              <th>Title</th>
              <th>Description</th>
              <th>Due</th>
              <th style="width: 150px;">Status</th>
              <th style="width: 150px;text-align: center;">Move To</th>
              <th style="width: 3px;text-align: center;">Delete</th>
            </tr>
          </thead>
          <tbody>
            {% for item in status_items %}
              
              {# Below sets the variable pos (for workflow position) which is used in identifying which status icon to load #}
              {# If first status then 0 (ToDo), if last status then 2 (Done) for any intermediate status then 1 (In Progress) #}
              
              
              {% if item.status == statuses.0 %} {%set pos=0%}
              {% elif item.status == statuses|last %} {%set pos=2%}
              {% else %} {%set pos=1%}
              {% endif %}
              <tr>
                <td>{{item.title}}</td>
                <td>{{item.description}}</td>
                <td>
                  {%if item.due_date != None%}{{ item.due_date|strftime }}
                  {% else %}{% endif %}
                </td>
                <td><img src="/static/status_{{pos}}.png" style="height: 26px;"/> {{item.status}}</td>
                
                <td style="width: 150px;text-align: center;"> 
                  <select id="status_select_{{item.id}}" style="width: 150px;" onchange="submitReq('setstatus/{{ item.id }}/'+value,null)">
                    <option ></option>
                    {% for status in statuses %}
                      {% if item.status != status %}
                        <option value="{{status}}">{{status}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                  
                </td>
                <td style="width: 3px;text-align: center;"><img id="delete_{{item.id}}" src="/static/xicon.png" onclick="submitReq('delete/{{ item.id }}',null)" style="height: 12px;"/></td>
                
                
              </tr>
              
            {% endfor %}

          </tbody>
        </table>
      
      {% else %}No tasks to dislay
    {% endif %}
{% endmacro %}
    